.timeline-page {

  margin: 0 15vw;

  @media (max-width: 768px) {
    margin: 0 5vw;
  }

  @media (max-width: 600px) {
    margin: 0;    
  }

  .timeline {
    justify-content: left;
    padding-bottom: 60px;

    .MuiTimelineItem-root::before {
      display: none;
    }

    &-event-item {
      padding-bottom: 30px;
      position: relative;

      .date {
        color: #FFF;
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        &-mini {
          font-size: 14px;
          margin-left: 10px;
          font-weight: 500;
        }
      }
    }

    &-item {
      .MuiTimelineDot-root {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;

        @media (max-width: 480px) {
          width: 15px;
          height: 15px;
          margin-top: 20px;
        }
      }

      .dot > * {
        @media (max-width: 480px) {
          font-size: 16px !important;
        }
      }

      .MuiTimelineConnector-root {
        padding-top: 20px;
      }

      .timeline-connector-restrict {
        min-height: 15px;
        max-height: 15px;
      }

      .content {
        padding-top: 20px;
        width: 100%;
        min-height: 0px !important;
        text-wrap: stable;

        > div > .title > span {
          @media (max-width: 480px) { 
            display: block;
            margin-bottom: 3px;
          }
        }

        @media (max-width: 480px) {
          padding-left: 5px;
        }

        .title {
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: 600;
          box-sizing: border-box;
  
          .priority {
            padding: 5px 10px;
            text-wrap: nowrap;
          }
  
          .btn-info {
            width: 10px;
            height: 10px;
            font-size: 13px;
            padding: 3px;
            cursor: pointer;
            border-radius: 50%;
            color: #FFFFFF !important;
            background-color: #000000 !important;
            border: 1px solid #FFFFFF;
            margin-left: 10px;
            margin-top: 5px;
  
            &:hover {
              color: #000000 !important;
              background-color: #FFFFFF !important;
            }
          }
        }

        .btn-info-container {
          display: inline !important;
        }
      }

      .description {
        font-size: 14px;
        opacity: .8;
        color: #FFF;
      }

      .priority {
        color: #FFF;
        font-size: 12px;
        padding: 1px 5px;
        min-width: 70px;
        border-radius: 8px;
        font-weight: 500;
        margin-right: 10px;
        text-align: center;
      }

      .reference-container {
        font-size: 13px;
        margin-top: 10px;
        color: #00fbff;

        .label {
          color: #00fbff;
          font-weight: 600;
        }

        .reference {
          word-wrap: break-word;
        }
      }
    }


  }
}

.timeline-context-dialog {

  &-content {
    background-color: #003a4e;
    max-height: 100%;
    overflow: hidden;
    min-height: 80vh !important;
    padding: 0 !important;

    .content-container {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      min-height: 100%;
      max-height: 100%;
      margin: 0;
    }

    .title-container {
      display: grid;
      grid-template-columns: 0.1fr 0.8fr 0.1fr;
      background-color: #001922;
      align-items: center;
      color: #FFFFFF;
      padding: 0 2rem;

      .btn-close {
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;

        &:hover {
          background-color: #005774;
        }
      }

      @media (max-width: 768px) {
        grid-template-columns: 5% 90% 5%;
        padding: 0;
      }
    }

    .title {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      width: 100%;
      padding: 15px 0;
    }

    .content-body {
      overflow-y: auto;
      padding: 30px 2rem;

      @media (max-width: 768px) {
        padding: 30px 0;
      }
    }

    .content-text {
      padding: 0 2rem;
      height: 100%;

      p {
        padding-bottom: 10px;
      }

      br {
        padding-bottom: 25px;
      }

    }

    .content-end {
      display: flex;
      justify-content: center;
      font-size: 13px;
      margin-top: 35px;
      width: 100%;
      opacity: 50%;
      text-align: center;
      user-select: none;
    }
  }
}